name: test
on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install iverilog
        shell: bash
        run: sudo apt-get update && sudo apt-get install -y iverilog

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python packages
        shell: bash
        run: pip install -r test/requirements.txt

      - name: Run tests
        shell: bash
        run: |
          cd test
          make clean
          make
          # make can return success even if the test fails, so check results.xml:
          ! grep failure results.xml

      - name: Test Summary
        if: always()
        uses: test-summary/action@v2.3
        with:
          paths: "test/results.xml"

      - name: Upload waveform and test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            test/tb.vcd
            test/results.xml
            test/output/*
          if-no-files-found: warn
